<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel" id="top">
    <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" ng-click="openImg('0')"></li>
        <li data-target="#myCarousel" data-slide-to="1" ng-click="openImg('1')"></li>
        <li data-target="#myCarousel" data-slide-to="2" ng-click="openImg('2')"></li>
      </ol>
      <div>
        <div class="item active">
          <img class="first-slide" src="{{backOpenImg}}" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1 id="about">Hello! I'm {{openUs.name}}!</h1>
              <!-- <div ng-controller="TextSimpleCtrl" id="TextSimpleCtrl"> -->
                <!-- <a href="" editable-text="story">{{ story || 'Here can be your little story' }}</a>
                <a href="" editable-text="openUs.name" e-required>
             &nbsp; {{ openUs.name || openUsName}}
            </a> -->
            <a href="" editable-textarea="story" e-rows="7" e-cols="50">
              <pre ng-model="story">{{ story || 'Here can be your little story' }}</pre>
            </a>
              <!-- </div> -->
              <!-- e-label="User Name" -->
              <!-- <p>
              <a href="#" editable-textarea="user.desc" e-rows="7" e-cols="40">
                <pre>{{ user.desc || 'Here can be your little story' }}</pre>
              </a>
              </p> -->
             <!--  <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p> -->
              <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p> -->
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.carousel
