<div class="container marketing" id="contact">
	<!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-12">
          <h2 class="featurette-heading" style="margin-top:0">Contact <span class="text-mutted"></span></h2>
          <h3 class="contactCenter"> Good way to contact me it's just call me or write me a letter!</h3>
          <h4 class="contactCenter"><span class="glyphicon glyphicon-phone-alt"></span>&nbsp; {{openUs.phone}}</h4>
          <h4 class="contactCenter"><span class="glyphicon glyphicon-envelope"></span> &nbsp; {{openUs.email}}</h4>

      </div>

      <hr class="featurette-divider">

</div>
</div>